<p class="card-text">Studies show that people who regularly document their aspirations are more likely to stay focused on self-improvement and achieve their goals.</p>
            <p 

<img src="https://images.unsplash.com/photo-1529158062015-cad636e205a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3xlbnwwfHwwfHx8MA%3D%3D" alt="Photo by https://unsplash.com/@sincerelymedia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash Sincerely Media on https://unsplash.com/photos/club-master-eyeglasses-on-pile-of-three-books-BfriYg0iOCs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="card-img">


<img src="https://images.unsplash.com/photo-1529158062015-cad636e205a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ym9va3xlbnwwfHwwfHx8MA%3D%3D" alt="Photo by https://unsplash.com/@sincerelymedia?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash Sincerely Media on https://unsplash.com/photos/club-master-eyeglasses-on-pile-of-three-books-BfriYg0iOCs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="card-img">
          <div class="card-img-overlay">
            <h5 class="card-title"></h5>
            <p class="card-text">Studies show that people who regularly document their aspirations are more likely to stay focused on self-improvement and achieve their goals.</p>
            <p class="card-text"><small>Last updated 3 mins ago</small></p>
          </div>


          <div class="card text-bg-dark">
            <img src="https://images.unsplash.com/photo-1455390582262-044cdead277a?w=120&dpr=1&h=200&auto=format&fit=crop&q=60&ixid=M3wxMjA3fDB8MXxzZWFyY2h8NHx8d3JpdGluZyUyMGxldHRlcnxlbnwwfHx8fDE3MzU1ODMxMjN8MA&ixlib=rb-4.0.3" alt="Photo by https://unsplash.com/@aaronburden?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash Aaron Burden on https://unsplash.com/photos/fountain-pen-on-black-lined-paper-y02jEX_B0O0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="card-img">
            <div class="card-img-overlay">
              <h5 class="card-title"></h5>
              <p class="card-text">bridge the gap between your present and future self, reminding you of the progress you've made and the dreams you're working toward.</p>
              <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
          </div>
         </div>
     