<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://images.unsplash.com/photo-1520363909542-9f69145ab443?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z29hbHxlbnwwfHwwfHx8Mg%3D%3D" style="width: 400px;">
      <div class="card-body">
        <h5 class="card-title">Set goals</h5>
        <p class="card-text">Set clear goals and intentions today, you create a personal commitment that encourages accountability and reflection.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHdvcmtvdXR8ZW58MHx8MHx8fDI%3D">
      <div class="card-body">
        <h5 class="card-title">Long-term motivation</h5>
        <p class="card-text">Studies show that people who regularly document their aspirations are more likely to stay focused on self-improvement and achieve their goals.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://images.unsplash.com/photo-1676044439159-0effccaac4ed?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hlbWlzdHJ5JTIwbGFifGVufDB8fDB8fHwy">
      <div class="card-body">
        <h5 class="card-title">Bridging Progress and Dreams</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Bridge the gap between your present and future self, reminding you of the progress you've made and the dreams you're working toward.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>